n8n/sync-order-webhook.json
{
  "name": "Sync Order SubWorkflow (Webhook)",
  "description": null,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "save-order",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "cb48aa82-7ea9-42b7-872f-5b76686300cc"
    },
    {
      "id": "post-pedido",
      "name": "Post Pedido Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "https://eqnjyygokjinmsfvogxi.supabase.co/rest/v1/pedidos",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxbmp5eWdva2ppbm1zZnZvZ3hpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NzcxMjEsImV4cCI6MjA4OTI1MzEyMX0.BrVsESdtgMBnPjfZfwreg7PWg-HIgiLO5-QoN0qqbkE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\nnotes: $json.body.pedido || '',\naddress: $json.body.tipo_entrega === 'pickup' ? 'Retiro en local' : ($json.body.direccion || ''),\ndelivery_type: $json.body.tipo_entrega === 'pickup' ? 'pickup' : 'delivery',\ntotal: parseFloat($json.body.total || 0),\nstatus: 'new',\npayment_method: 'cash',\ncustomer_name: $json.body.nombre || '',\ncustomer_phone: $json.body.numero || ''\n}) }}",
        "options": {}
      }
    },
    {
      "id": "gsheets-node",
      "name": "Google Sheets Append",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        0
      ],
      "continueOnFail": true,
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1rKxYr7mIfE5_D9dNOc8R20VqEEQjmBiXJWBStwMkwDs",
          "mode": "list",
          "cachedResultName": "plantilla_pedidos_n8n"
        },
        "sheetName": {
          "__rl": true,
          "value": 1007445674,
          "mode": "list",
          "cachedResultName": "Pedidos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Pedido": "={{ $('Post Pedido Supabase').first().json.id || $('Post Pedido Supabase').first().json[0]?.id || '' }}",
            "Nombre del Cliente": "={{ $('Webhook').first().json.body.nombre || '' }}",
            "Pedido": "={{ $('Webhook').first().json.body.pedido || '' }}",
            "Precio": "={{ $('Webhook').first().json.body.total || '0' }}",
            "Dirección": "={{ $('Webhook').first().json.body.tipo_entrega === 'pickup' ? 'Retiro en local' : ($('Webhook').first().json.body.direccion || '') }}",
            "Fecha": "={{ new Date().toLocaleDateString('es-AR', {timeZone: 'America/Argentina/Buenos_Aires'}) }}",
            "Hora": "={{ new Date().toLocaleTimeString('es-AR', {timeZone: 'America/Argentina/Buenos_Aires', hour: '2-digit', minute: '2-digit', hour12: false }) }}",
            "Estado": "nuevo",
            "Notas": "={{ $('Webhook').first().json.body.metodo_pago || '' }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {},
        "authentication": "serviceAccount"
      },
      "credentials": {
        "googleApi": {
          "id": "arXdf3W6VBf10ZlU",
          "name": "Google Sheets Service Account (Agentcore)"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.lastOrders) staticData.lastOrders = {};\n\nconst now = new Date().getTime();\n\n// Cleanup older than 15 mins\nfor (let key in staticData.lastOrders) {\n  if (now - staticData.lastOrders[key] > 15 * 60 * 1000) {\n    delete staticData.lastOrders[key];\n  }\n}\n\n// Check current order\nconst val = $json.numero + \"_\" + $json.total; \nlet isDuplicate = false;\n\nif (staticData.lastOrders[val]) {\n  isDuplicate = true;\n} else {\n  staticData.lastOrders[val] = now;\n}\n\nreturn [{\n  json: {\n    ...$json,\n    is_duplicate: isDuplicate\n  }\n}];\n"
      },
      "name": "Deduplicate 15min",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        150,
        200
      ],
      "id": "5b39a3e0-deb1-4425-8fad-23eb9ce8c7cd"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_duplicate }}",
              "value2": false
            }
          ]
        }
      },
      "name": "If Not Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        350,
        200
      ],
      "id": "ff533b49-5660-4f9f-a156-7d7c4fb0c906"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Post Pedido Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Pedido Supabase": {
      "main": [
        [
          {
            "node": "Google Sheets Append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Deduplicate 15min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate 15min": {
      "main": [
        [
          {
            "node": "If Not Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not Duplicate": {
      "main": [
        [
          {
            "node": "Post Pedido Supabase",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "6866b0f7-6d63-4644-bf0e-f24b36b07ccf",
  "activeVersionId": "6866b0f7-6d63-4644-bf0e-f24b36b07ccf",
  "versionCounter": 96,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-20T02:31:09.785Z",
      "createdAt": "2026-03-20T02:31:09.785Z",
      "role": "workflow:owner",
      "workflowId": "QCVo6a4w9fCAvxRp",
      "projectId": "p5XfddSgn6LHSg78",
      "project": {
        "updatedAt": "2026-03-14T03:33:01.850Z",
        "createdAt": "2026-03-14T03:29:42.397Z",
        "id": "p5XfddSgn6LHSg78",
        "name": "matias rodriguez <agentcore.ia@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6704710c-953e-4637-8393-b7e996be2b7a"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-28T04:09:12.369Z",
    "createdAt": "2026-03-28T04:09:12.369Z",
    "versionId": "6866b0f7-6d63-4644-bf0e-f24b36b07ccf",
    "workflowId": "QCVo6a4w9fCAvxRp",
    "nodes": [
      {
        "id": "webhook-node",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "save-order",
          "responseMode": "lastNode",
          "options": {}
        },
        "webhookId": "cb48aa82-7ea9-42b7-872f-5b76686300cc"
      },
      {
        "id": "post-pedido",
        "name": "Post Pedido Supabase",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          220,
          0
        ],
        "continueOnFail": true,
        "parameters": {
          "method": "POST",
          "url": "https://eqnjyygokjinmsfvogxi.supabase.co/rest/v1/pedidos",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxbmp5eWdva2ppbm1zZnZvZ3hpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NzcxMjEsImV4cCI6MjA4OTI1MzEyMX0.BrVsESdtgMBnPjfZfwreg7PWg-HIgiLO5-QoN0qqbkE"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({\nnotes: $json.body.pedido || '',\naddress: $json.body.tipo_entrega === 'pickup' ? 'Retiro en local' : ($json.body.direccion || ''),\ndelivery_type: $json.body.tipo_entrega === 'pickup' ? 'pickup' : 'delivery',\ntotal: parseFloat($json.body.total || 0),\nstatus: 'new',\npayment_method: 'cash',\ncustomer_name: $json.body.nombre || '',\ncustomer_phone: $json.body.numero || ''\n}) }}",
          "options": {}
        }
      },
      {
        "id": "gsheets-node",
        "name": "Google Sheets Append",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          440,
          0
        ],
        "continueOnFail": true,
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1rKxYr7mIfE5_D9dNOc8R20VqEEQjmBiXJWBStwMkwDs",
            "mode": "list",
            "cachedResultName": "plantilla_pedidos_n8n"
          },
          "sheetName": {
            "__rl": true,
            "value": 1007445674,
            "mode": "list",
            "cachedResultName": "Pedidos"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "ID Pedido": "={{ $('Post Pedido Supabase').first().json.id || $('Post Pedido Supabase').first().json[0]?.id || '' }}",
              "Nombre del Cliente": "={{ $('Webhook').first().json.body.nombre || '' }}",
              "Pedido": "={{ $('Webhook').first().json.body.pedido || '' }}",
              "Precio": "={{ $('Webhook').first().json.body.total || '0' }}",
              "Dirección": "={{ $('Webhook').first().json.body.tipo_entrega === 'pickup' ? 'Retiro en local' : ($('Webhook').first().json.body.direccion || '') }}",
              "Fecha": "={{ new Date().toLocaleDateString('es-AR', {timeZone: 'America/Argentina/Buenos_Aires'}) }}",
              "Hora": "={{ new Date().toLocaleTimeString('es-AR', {timeZone: 'America/Argentina/Buenos_Aires', hour: '2-digit', minute: '2-digit', hour12: false }) }}",
              "Estado": "nuevo",
              "Notas": "={{ $('Webhook').first().json.body.metodo_pago || '' }}"
            },
            "matchingColumns": [],
            "schema": []
          },
          "options": {},
          "authentication": "serviceAccount"
        },
        "credentials": {
          "googleApi": {
            "id": "arXdf3W6VBf10ZlU",
            "name": "Google Sheets Service Account (Agentcore)"
          }
        }
      },
      {
        "parameters": {
          "language": "javaScript",
          "jsCode": "\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.lastOrders) staticData.lastOrders = {};\n\nconst now = new Date().getTime();\n\n// Cleanup older than 15 mins\nfor (let key in staticData.lastOrders) {\n  if (now - staticData.lastOrders[key] > 15 * 60 * 1000) {\n    delete staticData.lastOrders[key];\n  }\n}\n\n// Check current order\nconst val = $json.numero + \"_\" + $json.total; \nlet isDuplicate = false;\n\nif (staticData.lastOrders[val]) {\n  isDuplicate = true;\n} else {\n  staticData.lastOrders[val] = now;\n}\n\nreturn [{\n  json: {\n    ...$json,\n    is_duplicate: isDuplicate\n  }\n}];\n"
        },
        "name": "Deduplicate 15min",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          150,
          200
        ],
        "id": "5b39a3e0-deb1-4425-8fad-23eb9ce8c7cd"
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.is_duplicate }}",
                "value2": false
              }
            ]
          }
        },
        "name": "If Not Duplicate",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          350,
          200
        ],
        "id": "ff533b49-5660-4f9f-a156-7d7c4fb0c906"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Post Pedido Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Post Pedido Supabase": {
        "main": [
          [
            {
              "node": "Google Sheets Append",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Deduplicate 15min",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deduplicate 15min": {
        "main": [
          [
            {
              "node": "If Not Duplicate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Not Duplicate": {
        "main": [
          [
            {
              "node": "Post Pedido Supabase",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      }
    },
    "authors": "matias rodriguez",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-28T04:09:12.407Z",
        "id": 355,
        "workflowId": "QCVo6a4w9fCAvxRp",
        "versionId": "6866b0f7-6d63-4644-bf0e-f24b36b07ccf",
        "event": "activated",
        "userId": "6704710c-953e-4637-8393-b7e996be2b7a"
      },
      {
        "createdAt": "2026-03-28T04:09:12.397Z",
        "id": 354,
        "workflowId": "QCVo6a4w9fCAvxRp",
        "versionId": "6866b0f7-6d63-4644-bf0e-f24b36b07ccf",
        "event": "deactivated",
        "userId": "6704710c-953e-4637-8393-b7e996be2b7a"
      }
    ]
  }
}