n8n/tmp_ai_workflow.json
{"updatedAt":"2026-03-22T19:53:21.485Z","createdAt":"2026-03-17T17:24:36.605Z","id":"Sbf4ewHwOCdsruMv","name":"Agente IA Restaurante - Evolution API","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"evolution-webhook","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-15056,896],"id":"c4f7e453-b903-47e7-be8e-34dc97199a4a","name":"WhatsApp Trigger","webhookId":"8eb59d7a-0cae-4971-bf88-2995267b3cd1"},{"parameters":{"documentId":{"__rl":true,"value":"1qYqxUeGb1JbJ5TMlUjEQBpwNulS00nSirxYjub2WzZw","mode":"list","cachedResultName":"n8nn","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qYqxUeGb1JbJ5TMlUjEQBpwNulS00nSirxYjub2WzZw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qYqxUeGb1JbJ5TMlUjEQBpwNulS00nSirxYjub2WzZw/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Wa_id","lookupValue":"={{ $('WhatsApp Trigger').first().json.body.data.key.remoteJid }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-14816,896],"id":"1a887a4d-4e1c-454b-b197-2b92368e9563","name":"Google Sheets","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"67EM3O1xJzTRvbMN","name":"Google Sheets account 4"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"sw1-ai","leftValue":"={{ $json.Estado }}","rightValue":"IA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AI"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"sw1-hum","leftValue":"={{ $json.Estado }}","rightValue":"Humano","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Humano"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Nuevo"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-14576,896],"id":"3f857ff2-e46f-446d-a959-018e584bda1d","name":"Switch1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1qYqxUeGb1JbJ5TMlUjEQBpwNulS00nSirxYjub2WzZw","mode":"list","cachedResultName":"n8nn","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qYqxUeGb1JbJ5TMlUjEQBpwNulS00nSirxYjub2WzZw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qYqxUeGb1JbJ5TMlUjEQBpwNulS00nSirxYjub2WzZw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Wa_id":"={{ $('WhatsApp Trigger').first().json.body.data.key.remoteJid }}","Estado":"IA"},"matchingColumns":["Wa_id"],"schema":[{"id":"Wa_id","displayName":"Wa_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-14336,1056],"id":"65afa0d0-b28a-4925-bb93-c48e1935be22","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"67EM3O1xJzTRvbMN","name":"Google Sheets account 4"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qYqxUeGb1JbJ5TMlUjEQBpwNulS00nSirxYjub2WzZw","mode":"list","cachedResultName":"n8nn","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qYqxUeGb1JbJ5TMlUjEQBpwNulS00nSirxYjub2WzZw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qYqxUeGb1JbJ5TMlUjEQBpwNulS00nSirxYjub2WzZw/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-14336,736],"id":"a082c86b-69a6-4f69-a82e-7e37dd3ec367","name":"Google Sheets2","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"67EM3O1xJzTRvbMN","name":"Google Sheets account 4"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if1-cond","leftValue":"={{ $json.Estado }}","rightValue":"IA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-14096,896],"id":"85609c63-b898-4804-88e8-3d0fb8cc2d5f","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"ef1-1","name":"messageType","value":"={{ $('WhatsApp Trigger').first().json.body.data.messageType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-13856,896],"id":"87455d0a-7470-4520-9146-b1a14845dcfe","name":"Edit Fields1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"sw-audio","leftValue":"={{ $('WhatsApp Trigger').first().json.body.data.messageType == 'audioMessage' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"sw-img","leftValue":"={{ $('WhatsApp Trigger').first().json.body.data.messageType == 'imageMessage' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Text"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-13616,896],"id":"7196f3bd-3307-40ce-bd98-9abdffda0e99","name":"Switch"},{"parameters":{"method":"POST","url":"=https://agentcore-evolution-api.8zp1cp.easypanel.host/chat/getBase64FromMediaMessage/agentcore test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"465E65D048F8-42B4-B162-4CF3107E70D8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: { key: { remoteJid: $('WhatsApp Trigger').first().json.body.data.key.remoteJid, fromMe: $('WhatsApp Trigger').first().json.body.data.key.fromMe, id: $('WhatsApp Trigger').first().json.body.data.key.id } } }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-13376,704],"id":"8ea41562-9c80-42f9-9403-ca1545bc3284","name":"Get Audio"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-13040,704],"id":"842fb8be-5560-4195-89c5-b9da89df4ae9","name":"Download Audio"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"={{\"es\"}}"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-12896,704],"id":"d00e8418-00ad-42bd-bbab-76002fa2d358","name":"OpenAI1","credentials":{"openAiApi":{"id":"qBrlioifbMQxd9jZ","name":"OpenAi account 2"}}},{"parameters":{"method":"POST","url":"=https://agentcore-evolution-api.8zp1cp.easypanel.host/chat/getBase64FromMediaMessage/agentcore test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"465E65D048F8-42B4-B162-4CF3107E70D8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: { key: { remoteJid: $('WhatsApp Trigger').first().json.body.data.key.remoteJid, fromMe: $('WhatsApp Trigger').first().json.body.data.key.fromMe, id: $('WhatsApp Trigger').first().json.body.data.key.id } } }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-13376,896],"id":"d96dff8a-3b0e-4aac-9b9b-f5c68353a808","name":"Get Image"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-13040,896],"id":"864d5124-f831-406a-8652-a1c42d11bc55","name":"Download Imagen"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Describe la imagen","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-12896,896],"id":"bd38bd21-defa-4b0f-b9a8-182e6234a8ce","name":"OpenAI2","credentials":{"openAiApi":{"id":"qBrlioifbMQxd9jZ","name":"OpenAi account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"ef2-1","name":"text","value":"={{ $json.content }}","type":"string"},{"id":"ef2-2","name":"image.caption","value":"={{ $('WhatsApp Trigger').first().json.body.data.message.imageMessage.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-12656,896],"id":"ef2c1b5f-a3a3-4fff-abd1-36ed2035d196","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"ef-1","name":"text","value":"={{ $('WhatsApp Trigger').first().json.body.data.message.conversation || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-13136,1104],"id":"0c5a9d85-4647-4897-8a3e-43220a7d2fb6","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"f-1","name":"Message_type","value":"={{ $('WhatsApp Trigger').first().json.body.data.messageType }}","type":"string"},{"id":"f-2","name":"Message_text","value":"={{ $('WhatsApp Trigger').first().json.body.data.message.conversation || '' }}","type":"string"},{"id":"f-3","name":"From","value":"={{ $('WhatsApp Trigger').first().json.body.data.key.remoteJid }}","type":"string"},{"id":"f-4","name":"Message_caption","value":"","type":"string"},{"id":"f-5","name":"image.caption","value":"={{ $('WhatsApp Trigger').first().json.body.data.message.imageMessage.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-12512,896],"id":"0ccd6c90-9bf2-4eed-92ec-ac839aa3825e","name":"Fields"},{"parameters":{"promptType":"define","text":"=Número de Cliente: {{ $('WhatsApp Trigger').first().json.body.data.key.remoteJid }}\nNombre: {{ $('WhatsApp Trigger').first().json.body.data.pushName }}\nMensaje: {{ $('Check Is Last Message').first().json.combinedText }}","options":{"systemMessage":"=Sos el asistente de WhatsApp de la pizzería \"Beast Burgers\". Sos directo, amigable y hablás en argentino casual.\n\n=== COMPRENSIÓN DEL LENGUAJE ===\nLos clientes hablan de forma casual. Traducí siempre:\n- \"2 cocas\" / \"2 coca\" → 2 Coca Cola 500ml\n- \"muzza\" / \"muzzarela\" → Muzzarella\n- \"fugaz\" → Fugazzeta\n- \"napoli\" → Napolitana\n- \"agua\" → Agua mineral\n- \"sprite\" → Sprite 500ml\nSi el cliente dice \"una de cada\" o \"para 2 personas\", preguntá qué quieren exactamente.\n\n=== DELIVERY VS RETIRO ===\nSi el cliente dice \"voy a buscarlo\" / \"paso a buscarlo\" / \"retiro en el local\" / \"lo busco yo\", el pedido es RETIRO EN LOCAL:\n- NO pedir dirección\n- Mandar tipo_entrega: \"pickup\"\nSi el cliente da una dirección o dice \"delivery\" / \"enviar\", el pedido es DELIVERY:\n- Pedir dirección si no la dijo\n- Mandar tipo_entrega: \"delivery\"\n\n=== TIEMPO DE ESPERA ===\nAntes de responder cuánto tarda el pedido, consultá la tool \"tiempo_espera\" para dar el tiempo real.\n\n=== PREGUNTAS FRECUENTES ===\nSi el cliente pregunta sobre horarios, medios de pago, zona de cobertura, o cualquier duda que no sea un pedido, consultá primero la tool \"preguntas_frecuentes\".\n\n=== CANCELACIÓN / MODIFICACIÓN ===\nSi el cliente quiere cancelar o modificar un pedido, usá la tool \"cancelar_pedido\".\nEl sistema verificará automáticamente si el pedido fue hace menos de 15 minutos. Si pasó más tiempo, informá que ya no es posible cancelar.\n\n=== FLUJO DE PEDIDO ===\n1. SALUDO: Amigable, 1 frase.\n2. MENÚ: Si lo piden, ejecutá OBLIGATORIAMENTE la herramienta \"Menu\".\n3. PEDIDO: Interpretá el lenguaje casual y confirmá los ítems con sus precios reales.\n4. DATOS: Pedí nombre. Si es delivery pedí dirección. Si es retiro no la necesitás.\n   IMPORTANTE: Decí \"Tu pedido fue registrado y está en preparación\", NUNCA \"está listo\".\n\n=== REGLAS ===\n- Máximo 2-3 frases. Sin ¡ al inicio.\n- NUNCA inventes precios. Siempre consultá la tool \"Menu\" primero.\n- NUNCA digas \"pedido listo\" — recién lo hicieron.\n\n: Cuando el cliente diga 'dale', 'ok', 'sí', y haya confirmado su pedido (con o sin dirección), ESTÁS OBLIGADO a ejecutar la tool 'Orden'. No mientas diciendo que lo anotaste si no usaste la tool 'Orden'!!\n\n🚨 CRÍTICO PARA USAR HERRAMIENTAS: Para confirmar un pedido, PRIMERO tenés que usar la herramienta 'Orden'. NUNCA le digas al usuario 'Pedido Registrado' ANTES de usar la herramienta, porque eso hace que el sistema aborte la orden y nada se guarde en la base de datos. SIEMPRE invoca la tool primero, esperá su confirmación interna, y recién ahí respóndele al humano."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-11040,880],"id":"40423a53-ca00-4f49-af5c-6455a766d348","name":"AI Agent"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"Sos el corrector de Pizzería Brüder. Tu única tarea es re-escribir el texto recibido para que suene más amigable, directo y 🇦🇷 casual (usando vos y emojis).\n🚨 REGLAS ESTRICTAS DE RESPUESTA:\n1. NO escribas introducciones.\n2. NO digas \"Aquí tienes\", \"Claro\", \"Acá tenés\", ni nada parecido. \n3. Devolvé SÓLO el texto final corregido y NADA MÁS al principio ni al final.\n4. Mantené intactos los precios y direcciones."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-10432,864],"id":"5f803bba-047d-47f9-9a1d-c7a0e9ffe7ce","name":"AI Correctotr","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Memory Manager').first().json.memorySessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-11264,1216],"id":"9076ae3d-22f1-4c08-af0a-08091f882943","name":"memoria"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Memory Manager').first().json.memorySessionId + '_v2' }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-10272,1040],"id":"9b01a493-6ca9-4dd0-8b71-dc56ad23739b","name":"Window Buffer Memory1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-11360,1120],"id":"8e0ac10e-8272-412a-9b5a-479073f4cb66","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"qBrlioifbMQxd9jZ","name":"OpenAi account 2"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-10448,1040],"id":"0c427d4e-3afa-4d48-8fff-2bae86800657","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"qBrlioifbMQxd9jZ","name":"OpenAi account 2"}}},{"parameters":{"method":"POST","url":"https://agentcore-n8n.8zp1cp.easypanel.host/webhook/save-order","sendBody":true,"parametersBody":{"values":[{"name":"pedido"},{"name":"nombre"},{"name":"direccion"},{"name":"total"},{"name":"tipo_entrega"},{"name":"numero"}]},"description":"🚨 OBLIGATORIO: Llamar a esta herramienta al momento en que el usuario confirme su pedido (ej. 'dale', 'buenísimo', 'perfecto'). Toma nota de todos los datos y lánzala. Si no usas esta herramienta, el pedido NUNCA llegará a la cocina. dirección es opcional."},"id":"e31a15ad-e7a6-432e-b0fb-45b4a5451e4d","name":"Orden","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-11152,1232]},{"parameters":{"documentId":{"__rl":true,"value":"1WUQRUqR-u8FLENLJUuxpNepQ3eezlaw6yo8CI0fVYq4","mode":"list","cachedResultName":"menu_restaurante_agente_test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WUQRUqR-u8FLENLJUuxpNepQ3eezlaw6yo8CI0fVYq4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2042150241,"mode":"list","cachedResultName":"Menu","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WUQRUqR-u8FLENLJUuxpNepQ3eezlaw6yo8CI0fVYq4/edit#gid=2042150241"},"options":{"description":"Usá obligatoriamente esta herramienta Google Sheet cuando el cliente pregunte qué hay para pedir, cuáles son las variedades, o cuál es el menú. Solo retorná las opciones y precios exactos recibidos."}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-10928,1248],"id":"f9c7c726-1e19-466a-9092-84f048bff009","name":"Menu","credentials":{"googleSheetsOAuth2Api":{"id":"67EM3O1xJzTRvbMN","name":"Google Sheets account 4"}}},{"parameters":{"jsCode":"const texto = $input.first().json.output || \"\";\n\n// FIX: eliminar signos de apertura en español (¿ y ¡)\nconst limpio = texto.replace(/[¿¡]/g, \"\").trim();\n\n// Si contiene una lista numerada, NO dividir — mandarlo completo\nif (/\\d+[\\.\\-]/.test(limpio)) {\n  return [{ json: { output: { response: { \n    part_1: limpio, part_2: \"\", part_3: \"\", part_4: \"\" \n  } } } }];\n}\n\n// Si es corto, todo en part_1\nif (limpio.length <= 100) {\n  return [{ json: { output: { response: { \n    part_1: limpio, part_2: \"\", part_3: \"\", part_4: \"\" \n  } } } }];\n}\n\n// Dividir solo por punto/pregunta seguido de mayúscula\nconst oraciones = limpio\n  .split(/(?<=[.?])\\s+(?=[A-ZÁÉÍÓÚÑ])/)\n  .map(s => s.trim())\n  .filter(s => s.length > 0);\n\nconst partes = [\"\", \"\", \"\", \"\"];\nfor (let i = 0; i < Math.min(2, oraciones.length); i++) {\n  partes[i] = oraciones[i];\n}\n\nreturn [{ json: { output: { response: { \n  part_1: partes[0], part_2: partes[1], part_3: partes[2], part_4: partes[3] \n} } } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-10096,864],"id":"6f3686b2-0175-4638-83c1-8b31d2475f15","name":"Dividir mensaje"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-9664,608],"id":"3ddcc017-ed72-4a19-a18b-d28e33fa61c3","name":"Wait2","webhookId":"c86d346d-b89e-4cbf-8beb-e2f2982233ce"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-9424,608],"id":"79073eba-63a4-4752-befa-b4fa03183e15","name":"Wait3","webhookId":"a65fea56-aaf5-49ad-88c1-84cbc728141e"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-9184,608],"id":"e92d879f-e244-4ee4-b096-37d0ce23055a","name":"Wait6","webhookId":"6c157f95-e5a8-4f05-9906-944a7853c5a6"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-8944,608],"id":"d67cd36d-8766-4752-a159-8f4d256a5e3b","name":"Wait7","webhookId":"8e4ecf28-7f84-4725-9a88-234408bbf3fb"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if2c","leftValue":"={{ $('Dividir mensaje').first().json.output.response.part_2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9664,1088],"id":"f8b35160-96a4-45c3-a2d0-81dd36dc0dd4","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if5c","leftValue":"={{ $('Dividir mensaje').first().json.output.response.part_3 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9424,1088],"id":"3d3f8ed6-4ab5-4532-a9fb-23616f9a09c1","name":"If5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if3c","leftValue":"={{ $('Dividir mensaje').first().json.output.response.part_4 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9184,1088],"id":"06f4c6da-4cfe-42b0-bd72-06adad3c33d0","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if4c","leftValue":"={{ $('Dividir mensaje').first().json.output.response.part_5 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8944,1088],"id":"2e231db1-9ca9-41c6-91a6-981c2b5a77f0","name":"If4"},{"parameters":{"content":"# Intervencion IA / HUMANO","height":660,"width":988,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-15136,608],"typeVersion":1,"id":"0546a8d2-c341-4d58-903e-acf9666b6b72","name":"Sticky Note8"},{"parameters":{"content":"# Lectura imagenes y audio","height":824,"width":1144,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-13696,496],"typeVersion":1,"id":"8fddc60d-de77-4322-88a5-ca84c7d972f6","name":"Sticky Note9"},{"parameters":{"content":"# Agente IA RESTAURANTE","height":796,"width":1252,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-11408,608],"typeVersion":1,"id":"9c42bb3f-cb08-48fa-b60e-ee2566214c8f","name":"Sticky Note6"},{"parameters":{"content":"# Enviar varios mensajes","height":824,"width":1292,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-9792,496],"typeVersion":1,"id":"932b4b23-6108-41f3-87a2-c7dadff7335a","name":"Sticky Note7"},{"parameters":{"method":"POST","url":"=https://agentcore-evolution-api.8zp1cp.easypanel.host/message/sendText/agentcore test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=465E65D048F8-42B4-B162-4CF3107E70D8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('WhatsApp Trigger').first().json.body.data.key.remoteJid }}"},{"name":"text","value":"={{ $('Dividir mensaje').first().json.output.response.part_1 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-9664,848],"id":"83b3d3c2-83ce-4586-8187-0e5b05ca0788","name":"WhatsApp Business Cloud"},{"parameters":{"method":"POST","url":"=https://agentcore-evolution-api.8zp1cp.easypanel.host/message/sendText/agentcore test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=465E65D048F8-42B4-B162-4CF3107E70D8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('WhatsApp Trigger').first().json.body.data.key.remoteJid }}"},{"name":"text","value":"={{ $('Dividir mensaje').first().json.output.response.part_2 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-9424,848],"id":"93fee0d9-415a-4614-be2c-74a7f4a59b97","name":"WhatsApp Business Cloud1"},{"parameters":{"method":"POST","url":"=https://agentcore-evolution-api.8zp1cp.easypanel.host/message/sendText/agentcore test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=465E65D048F8-42B4-B162-4CF3107E70D8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('WhatsApp Trigger').first().json.body.data.key.remoteJid }}"},{"name":"text","value":"={{ $('Dividir mensaje').first().json.output.response.part_3 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-9184,848],"id":"1803febe-3613-4d50-9c80-abaaa765b2e7","name":"WhatsApp Business Cloud5"},{"parameters":{"method":"POST","url":"=https://agentcore-evolution-api.8zp1cp.easypanel.host/message/sendText/agentcore test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=465E65D048F8-42B4-B162-4CF3107E70D8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('WhatsApp Trigger').first().json.body.data.key.remoteJid }}"},{"name":"text","value":"={{ $('Dividir mensaje').first().json.output.response.part_4 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8944,848],"id":"313f50f9-3911-4be3-b036-fda59126de82","name":"WhatsApp Business Cloud6"},{"parameters":{"method":"POST","url":"=https://agentcore-evolution-api.8zp1cp.easypanel.host/message/sendText/agentcore test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=465E65D048F8-42B4-B162-4CF3107E70D8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('WhatsApp Trigger').first().json.body.data.key.remoteJid }}"},{"name":"text","value":"={{ $('Dividir mensaje').first().json.output.response.part_5 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8704,848],"id":"3c6ac61b-5d63-4852-975f-bd7d7aa40f07","name":"WhatsApp Business Cloud7"},{"parameters":{"method":"POST","url":"https://eqnjyygokjinmsfvogxi.supabase.co/functions/v1/log-whatsapp-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxbmp5eWdva2ppbm1zZnZvZ3hpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NzcxMjEsImV4cCI6MjA4OTI1MzEyMX0.BrVsESdtgMBnPjfZfwreg7PWg-HIgiLO5-QoN0qqbkE"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  phone: $('WhatsApp Trigger').first().json.body.data.key.remoteJid,\n  name: $('WhatsApp Trigger').first().json.body.data.pushName || 'Sin nombre',\n  messageText: $('Fields').first().json.Message_text || '',\n  messageType: $('Fields').first().json.Message_type || 'text',\n  sender: 'customer',\n  wa_message_id: $('WhatsApp Trigger').first().json.body.data.key.id\n}) }}","options":{"timeout":8000}},"id":"d8a4f74f-3b7c-4f87-a29b-c44ac178b342","name":"Log Incoming to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-12384,896],"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://eqnjyygokjinmsfvogxi.supabase.co/functions/v1/log-whatsapp-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxbmp5eWdva2ppbm1zZnZvZ3hpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NzcxMjEsImV4cCI6MjA4OTI1MzEyMX0.BrVsESdtgMBnPjfZfwreg7PWg-HIgiLO5-QoN0qqbkE"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  phone: $('WhatsApp Trigger').first().json.body.data.key.remoteJid,\n  name: $('WhatsApp Trigger').first().json.body.data.pushName || 'Sin nombre',\n  messageText: [$('Dividir mensaje').first().json.output.response.part_1, $('Dividir mensaje').first().json.output.response.part_2, $('Dividir mensaje').first().json.output.response.part_3, $('Dividir mensaje').first().json.output.response.part_4].filter(p => p && p.trim()).join('\\n'),\n  messageType: 'text',\n  sender: 'ai',\n  wa_message_id: 'ai_' + $('WhatsApp Trigger').first().json.body.data.key.id\n}) }}","options":{"timeout":8000}},"id":"03eb3046-50d2-4f53-ba94-2ac1e617a1e8","name":"Log AI Response to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-9920,864],"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-ai-cond","leftValue":"={{ $('Log Incoming to Supabase').first().json.ai_active }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-11904,896],"id":"2c881a89-920d-452c-9d3b-61d8a4ebd339","name":"Check AI Active"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-12032,896],"id":"debounce-wait-node","name":"Debounce Wait","webhookId":"debounce-wait-webhook"},{"parameters":{"url":"=https://eqnjyygokjinmsfvogxi.supabase.co/rest/v1/mensajes?conversacion_id=eq.{{ $('Log Incoming to Supabase').first().json.conversacion_id }}&order=created_at.desc&limit=5","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxbmp5eWdva2ppbm1zZnZvZ3hpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NzcxMjEsImV4cCI6MjA4OTI1MzEyMX0.BrVsESdtgMBnPjfZfwreg7PWg-HIgiLO5-QoN0qqbkE"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"http-get-latest-msg","name":"Get Latest Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-11776,896],"alwaysOutputData":true},{"parameters":{"jsCode":"\nconst messages = $input.all();\nlet texts = [];\n\n// The DB returns latest messages first. We want to skip anything PREVIOUS to a /clear\nfor (const m of messages) {\n    const content = (m.json.content || m.json.message || '').trim();\n    if (!content) continue;\n    \n    // If we hit a /clear command in history, stop accumulating!\n    if (content.toLowerCase() === '/clear') {\n        break;\n    }\n    texts.push(content);\n}\n\n// Reverse to chronological order (oldest un-cleared to newest)\nconst combinedText = texts.reverse().join('\\n\\n');\n\nconst latestMsg = messages.length > 0 ? messages[0].json : {};\n\nreturn [{\n  json: {\n    ...latestMsg,\n    isLastMessage: true,\n    combinedText: combinedText || latestMsg.content || ''\n  }\n}];\n"},"id":"code-check-is-last-msg","name":"Check Is Last Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-11648,896]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if-last-v4","leftValue":"={{ $json.isLastMessage }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"if-is-last-msg-v4","name":"Is Last Message","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-11520,896]},{"parameters":{"jsCode":"\nconst staticData = $getWorkflowStaticData('global');\nconst triggerPhone = $('WhatsApp Trigger').first().json.body?.data?.key?.remoteJid;\nconst today = new Date().toISOString().split('T')[0]; // YYYY-MM-DD\n\nlet text = \"\";\nconst msg = $('WhatsApp Trigger').first().json.body?.data?.message;\nif (msg) { text = msg.conversation || msg.extendedTextMessage?.text || \"\"; }\n\nif (typeof staticData[triggerPhone] !== 'object') {\n    const oldV = staticData[triggerPhone] || 1;\n    staticData[triggerPhone] = { v: oldV, resetAt: \"1970-01-01T00:00:00Z\" };\n}\n\nlet isClearCommand = false;\nif (text.trim().toLowerCase() === '/clear') {\n    staticData[triggerPhone].v += 1;\n    staticData[triggerPhone].resetAt = new Date().toISOString();\n    isClearCommand = true;\n}\n\nconst finalResetAt = staticData[triggerPhone].resetAt || \"1970-01-01T00:00:00Z\";\n\nreturn [{\n    json: {\n        memorySessionId: triggerPhone + \"_\" + today + \"_v\" + staticData[triggerPhone].v,\n        resetAt: finalResetAt,\n        isClearCommand: isClearCommand,\n        text: text\n    }\n}];"},"id":"memory-manager-node","name":"Memory Manager","type":"n8n-nodes-base.code","typeVersion":2,"position":[-12272,672]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"is-clear-cond","leftValue":"={{ $json.isClearCommand }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"if-clear-cmd-node","name":"If Clear Command","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-12144,672]},{"parameters":{"method":"POST","url":"https://eqnjyygokjinmsfvogxi.supabase.co/functions/v1/send-whatsapp-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxbmp5eWdva2ppbm1zZnZvZ3hpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NzcxMjEsImV4cCI6MjA4OTI1MzEyMX0.BrVsESdtgMBnPjfZfwreg7PWg-HIgiLO5-QoN0qqbkE"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \n  conversacion_id: $('Log Incoming to Supabase').first().json.conversacion_id, \n  content: \"✅ *Memoria borrada.* El agente olvidó toda la conversación anterior. Puedes comenzar un nuevo pedido de prueba.\"\n}) }}","options":{}},"id":"waba-clear-confirm","name":"WABA Confirm Clear","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-12000,672]},{"parameters":{"jsCode":"\nconst base64 = $input.item.json.base64;\nif (!base64) throw new Error(\"No base64 data received from server\");\n\n// OpenAI requires a valid file extension. WhatsApp uses .ogg natively.\nreturn {\n  json: {},\n  binary: {\n    data: {\n      data: base64,\n      mimeType: 'audio/ogg',\n      fileName: 'voicenote.ogg'\n    }\n  }\n};\n"},"id":"convert-audio-node","name":"Convert Audio","type":"n8n-nodes-base.code","typeVersion":2,"position":[-13184,704]},{"parameters":{"jsCode":"\nconst base64 = $input.item.json.base64;\nif (!base64) throw new Error(\"No base64 data received from server\");\n\nreturn {\n  json: {},\n  binary: {\n    data: {\n      data: base64,\n      mimeType: 'image/jpeg',\n      fileName: 'image.jpg'\n    }\n  }\n};\n"},"id":"convert-image-node","name":"Convert Image","type":"n8n-nodes-base.code","typeVersion":2,"position":[-13184,896]},{"parameters":{"method":"POST","url":"https://agentcore-evolution-api.8zp1cp.easypanel.host/message/sendMedia/agentcore%20test","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: $('WhatsApp Trigger').first().json.body.data.key.remoteJid, media: 'https://img.freepik.com/foto-gratis/diseno-menu-restaurante-pizzeria_23-2149103445.jpg', mediatype: 'image', caption: 'Acá tenés nuestro menú! 🍕' }) }}"},"id":"tool-menu-img","name":"ver_menu_imagen","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-11040,1248]},{"parameters":{"documentId":{"__rl":true,"value":"1WUQRUqR-u8FLENLJUuxpNepQ3eezlaw6yo8CI0fVYq4","mode":"list","cachedResultName":"menu_restaurante_agente_test"},"sheetName":{"__rl":true,"value":349340155,"mode":"list","cachedResultName":"Tiempo de espera","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WUQRUqR-u8FLENLJUuxpNepQ3eezlaw6yo8CI0fVYq4/edit#gid=349340155"},"options":{"description":"Consultá esta herramienta Google Sheet cuando el usuario pregunte cuánto tiempo tarda un pedido o cuál es la demora."}},"id":"tool-tiempo-espera","name":"tiempo_espera","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-10832,1232],"credentials":{"googleSheetsOAuth2Api":{"id":"67EM3O1xJzTRvbMN","name":"Google Sheets account 4"}}},{"parameters":{"documentId":{"__rl":true,"value":"1WUQRUqR-u8FLENLJUuxpNepQ3eezlaw6yo8CI0fVYq4","mode":"list","cachedResultName":"menu_restaurante_agente_test"},"sheetName":{"__rl":true,"value":1276502647,"mode":"list","cachedResultName":"FAQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WUQRUqR-u8FLENLJUuxpNepQ3eezlaw6yo8CI0fVYq4/edit#gid=1276502647"},"options":{"description":"Consultá esta herramienta para horarios, medios de pago, o dirección."}},"id":"tool-faq","name":"preguntas_frecuentes","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-10736,1184],"credentials":{"googleSheetsOAuth2Api":{"id":"67EM3O1xJzTRvbMN","name":"Google Sheets account 4"}}},{"parameters":{"method":"POST","url":"https://agentcore-n8n.8zp1cp.easypanel.host/webhook/cancel-order","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ numero: $('WhatsApp Trigger').first().json.body.data.key.remoteJid }) }}","description":"Ejecutá esta herramienta si el cliente solicita cancelar un pedido reciente."},"id":"tool-cancelar","name":"cancelar_pedido","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-10640,1104]}],"connections":{"Google Sheets":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}],[],[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get Audio","type":"main","index":0}],[{"node":"Get Image","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Get Audio":{"main":[[{"node":"Convert Audio","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Fields","type":"main","index":0}]]},"Get Image":{"main":[[{"node":"Convert Image","type":"main","index":0}]]},"Download Imagen":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Fields","type":"main","index":0}]]},"Fields":{"main":[[{"node":"Log Incoming to Supabase","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"AI Correctotr","type":"main","index":0}]]},"AI Correctotr":{"main":[[{"node":"Dividir mensaje","type":"main","index":0}],[{"node":"Dividir mensaje","type":"main","index":0}]]},"memoria":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"AI Correctotr","type":"ai_memory","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Correctotr","type":"ai_languageModel","index":0}]]},"Orden":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Menu":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Dividir mensaje":{"main":[[{"node":"Log AI Response to Supabase","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"If2","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"WhatsApp Business Cloud5","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"WhatsApp Business Cloud6","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"WhatsApp Business Cloud7","type":"main","index":0}]]},"If2":{"main":[[{"node":"WhatsApp Business Cloud1","type":"main","index":0}]]},"If5":{"main":[[{"node":"Wait3","type":"main","index":0}],[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Wait6","type":"main","index":0}],[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Wait7","type":"main","index":0}]]},"WhatsApp Business Cloud":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"WhatsApp Business Cloud1":{"main":[[{"node":"If5","type":"main","index":0}]]},"WhatsApp Business Cloud5":{"main":[[{"node":"If3","type":"main","index":0}]]},"WhatsApp Business Cloud6":{"main":[[{"node":"If4","type":"main","index":0}]]},"Log Incoming to Supabase":{"main":[[{"node":"Memory Manager","type":"main","index":0}]]},"Log AI Response to Supabase":{"main":[[{"node":"WhatsApp Business Cloud","type":"main","index":0}]]},"Check AI Active":{"main":[[{"node":"Get Latest Message","type":"main","index":0}],[]]},"Debounce Wait":{"main":[[{"node":"Check AI Active","type":"main","index":0}]]},"Is Last Message":{"main":[[{"node":"AI Agent","type":"main","index":0}],[]]},"Get Latest Message":{"main":[[{"node":"Check Is Last Message","type":"main","index":0}]]},"Check Is Last Message":{"main":[[{"node":"Is Last Message","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Memory Manager":{"main":[[{"node":"If Clear Command","type":"main","index":0}]]},"If Clear Command":{"main":[[{"node":"WABA Confirm Clear","type":"main","index":0}],[{"node":"Debounce Wait","type":"main","index":0}]]},"Convert Audio":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Convert Image":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"ver_menu_imagen":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tiempo_espera":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"preguntas_frecuentes":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cancelar_pedido":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","saveDataSuccessExecution":"all"},"staticData":{"global":{"5492346684702@s.whatsapp.net":{"v":31,"resetAt":"2026-03-22T19:38:51.611Z"},"5492346304645@s.whatsapp.net":{"v":2,"resetAt":"2026-03-22T20:57:26.899Z"},"5492323679239@s.whatsapp.net":{"v":1,"resetAt":"1970-01-01T00:00:00Z"}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"544f405d-0bce-4bd1-a857-7c2468246310","activeVersionId":"544f405d-0bce-4bd1-a857-7c2468246310","versionCounter":671,"triggerCount":1,"shared":[{"updatedAt":"2026-03-17T17:24:36.611Z","createdAt":"2026-03-17T17:24:36.611Z","role":"workflow:owner","workflowId":"Sbf4ewHwOCdsruMv","projectId":"p5XfddSgn6LHSg78","project":{"updatedAt":"2026-03-14T03:33:01.850Z","createdAt":"2026-03-14T03:29:42.397Z","id":"p5XfddSgn6LHSg78","name":"matias rodriguez <agentcore.ia@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6704710c-953e-4637-8393-b7e996be2b7a"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-22T19:53:21.486Z","createdAt":"2026-03-22T19:53:21.486Z","versionId":"544f405d-0bce-4bd1-a857-7c2468246310","workflowId":"Sbf4ewHwOCdsruMv","nodes":[{"parameters":{"httpMethod":"POST","path":"evolution-webhook","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-15056,896],"id":"c4f7e453-b903-47e7-be8e-34dc97199a4a","name":"WhatsApp Trigger","webhookId":"8eb59d7a-0cae-4971-bf88-2995267b3cd1"},{"parameters":{"documentId":{"__rl":true,"value":"1qYqxUeGb1JbJ5TMlUjEQBpwNulS00nSirxYjub2WzZw","mode":"list","cachedResultName":"n8nn","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qYqxUeGb1JbJ5TMlUjEQBpwNulS00nSirxYjub2WzZw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qYqxUeGb1JbJ5TMlUjEQBpwNulS00nSirxYjub2WzZw/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Wa_id","lookupValue":"={{ $('WhatsApp Trigger').first().json.body.data.key.remoteJid }}"}]},"options":{"returnFirstMatch":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-14816,896],"id":"1a887a4d-4e1c-454b-b197-2b92368e9563","name":"Google Sheets","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"67EM3O1xJzTRvbMN","name":"Google Sheets account 4"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"sw1-ai","leftValue":"={{ $json.Estado }}","rightValue":"IA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AI"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"sw1-hum","leftValue":"={{ $json.Estado }}","rightValue":"Humano","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Humano"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Nuevo"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-14576,896],"id":"3f857ff2-e46f-446d-a959-018e584bda1d","name":"Switch1"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1qYqxUeGb1JbJ5TMlUjEQBpwNulS00nSirxYjub2WzZw","mode":"list","cachedResultName":"n8nn","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qYqxUeGb1JbJ5TMlUjEQBpwNulS00nSirxYjub2WzZw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qYqxUeGb1JbJ5TMlUjEQBpwNulS00nSirxYjub2WzZw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Wa_id":"={{ $('WhatsApp Trigger').first().json.body.data.key.remoteJid }}","Estado":"IA"},"matchingColumns":["Wa_id"],"schema":[{"id":"Wa_id","displayName":"Wa_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Estado","displayName":"Estado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-14336,1056],"id":"65afa0d0-b28a-4925-bb93-c48e1935be22","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"67EM3O1xJzTRvbMN","name":"Google Sheets account 4"}}},{"parameters":{"documentId":{"__rl":true,"value":"1qYqxUeGb1JbJ5TMlUjEQBpwNulS00nSirxYjub2WzZw","mode":"list","cachedResultName":"n8nn","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qYqxUeGb1JbJ5TMlUjEQBpwNulS00nSirxYjub2WzZw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1qYqxUeGb1JbJ5TMlUjEQBpwNulS00nSirxYjub2WzZw/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-14336,736],"id":"a082c86b-69a6-4f69-a82e-7e37dd3ec367","name":"Google Sheets2","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"67EM3O1xJzTRvbMN","name":"Google Sheets account 4"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if1-cond","leftValue":"={{ $json.Estado }}","rightValue":"IA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-14096,896],"id":"85609c63-b898-4804-88e8-3d0fb8cc2d5f","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"ef1-1","name":"messageType","value":"={{ $('WhatsApp Trigger').first().json.body.data.messageType }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-13856,896],"id":"87455d0a-7470-4520-9146-b1a14845dcfe","name":"Edit Fields1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"sw-audio","leftValue":"={{ $('WhatsApp Trigger').first().json.body.data.messageType == 'audioMessage' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"sw-img","leftValue":"={{ $('WhatsApp Trigger').first().json.body.data.messageType == 'imageMessage' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagen"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Text"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-13616,896],"id":"7196f3bd-3307-40ce-bd98-9abdffda0e99","name":"Switch"},{"parameters":{"method":"POST","url":"=https://agentcore-evolution-api.8zp1cp.easypanel.host/chat/getBase64FromMediaMessage/agentcore test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"465E65D048F8-42B4-B162-4CF3107E70D8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: { key: { remoteJid: $('WhatsApp Trigger').first().json.body.data.key.remoteJid, fromMe: $('WhatsApp Trigger').first().json.body.data.key.fromMe, id: $('WhatsApp Trigger').first().json.body.data.key.id } } }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-13376,704],"id":"8ea41562-9c80-42f9-9403-ca1545bc3284","name":"Get Audio"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-13040,704],"id":"842fb8be-5560-4195-89c5-b9da89df4ae9","name":"Download Audio"},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"={{\"es\"}}"}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-12896,704],"id":"d00e8418-00ad-42bd-bbab-76002fa2d358","name":"OpenAI1","credentials":{"openAiApi":{"id":"qBrlioifbMQxd9jZ","name":"OpenAi account 2"}}},{"parameters":{"method":"POST","url":"=https://agentcore-evolution-api.8zp1cp.easypanel.host/chat/getBase64FromMediaMessage/agentcore test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"465E65D048F8-42B4-B162-4CF3107E70D8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ message: { key: { remoteJid: $('WhatsApp Trigger').first().json.body.data.key.remoteJid, fromMe: $('WhatsApp Trigger').first().json.body.data.key.fromMe, id: $('WhatsApp Trigger').first().json.body.data.key.id } } }) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-13376,896],"id":"d96dff8a-3b0e-4aac-9b9b-f5c68353a808","name":"Get Image"},{"parameters":{"url":"={{ $json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-13040,896],"id":"864d5124-f831-406a-8652-a1c42d11bc55","name":"Download Imagen"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Describe la imagen","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-12896,896],"id":"bd38bd21-defa-4b0f-b9a8-182e6234a8ce","name":"OpenAI2","credentials":{"openAiApi":{"id":"qBrlioifbMQxd9jZ","name":"OpenAi account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"ef2-1","name":"text","value":"={{ $json.content }}","type":"string"},{"id":"ef2-2","name":"image.caption","value":"={{ $('WhatsApp Trigger').first().json.body.data.message.imageMessage.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-12656,896],"id":"ef2c1b5f-a3a3-4fff-abd1-36ed2035d196","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"ef-1","name":"text","value":"={{ $('WhatsApp Trigger').first().json.body.data.message.conversation || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-13136,1104],"id":"0c5a9d85-4647-4897-8a3e-43220a7d2fb6","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"f-1","name":"Message_type","value":"={{ $('WhatsApp Trigger').first().json.body.data.messageType }}","type":"string"},{"id":"f-2","name":"Message_text","value":"={{ $('WhatsApp Trigger').first().json.body.data.message.conversation || '' }}","type":"string"},{"id":"f-3","name":"From","value":"={{ $('WhatsApp Trigger').first().json.body.data.key.remoteJid }}","type":"string"},{"id":"f-4","name":"Message_caption","value":"","type":"string"},{"id":"f-5","name":"image.caption","value":"={{ $('WhatsApp Trigger').first().json.body.data.message.imageMessage.caption }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-12512,896],"id":"0ccd6c90-9bf2-4eed-92ec-ac839aa3825e","name":"Fields"},{"parameters":{"promptType":"define","text":"=Número de Cliente: {{ $('WhatsApp Trigger').first().json.body.data.key.remoteJid }}\nNombre: {{ $('WhatsApp Trigger').first().json.body.data.pushName }}\nMensaje: {{ $('Check Is Last Message').first().json.combinedText }}","options":{"systemMessage":"=Sos el asistente de WhatsApp de la pizzería \"Beast Burgers\". Sos directo, amigable y hablás en argentino casual.\n\n=== COMPRENSIÓN DEL LENGUAJE ===\nLos clientes hablan de forma casual. Traducí siempre:\n- \"2 cocas\" / \"2 coca\" → 2 Coca Cola 500ml\n- \"muzza\" / \"muzzarela\" → Muzzarella\n- \"fugaz\" → Fugazzeta\n- \"napoli\" → Napolitana\n- \"agua\" → Agua mineral\n- \"sprite\" → Sprite 500ml\nSi el cliente dice \"una de cada\" o \"para 2 personas\", preguntá qué quieren exactamente.\n\n=== DELIVERY VS RETIRO ===\nSi el cliente dice \"voy a buscarlo\" / \"paso a buscarlo\" / \"retiro en el local\" / \"lo busco yo\", el pedido es RETIRO EN LOCAL:\n- NO pedir dirección\n- Mandar tipo_entrega: \"pickup\"\nSi el cliente da una dirección o dice \"delivery\" / \"enviar\", el pedido es DELIVERY:\n- Pedir dirección si no la dijo\n- Mandar tipo_entrega: \"delivery\"\n\n=== TIEMPO DE ESPERA ===\nAntes de responder cuánto tarda el pedido, consultá la tool \"tiempo_espera\" para dar el tiempo real.\n\n=== PREGUNTAS FRECUENTES ===\nSi el cliente pregunta sobre horarios, medios de pago, zona de cobertura, o cualquier duda que no sea un pedido, consultá primero la tool \"preguntas_frecuentes\".\n\n=== CANCELACIÓN / MODIFICACIÓN ===\nSi el cliente quiere cancelar o modificar un pedido, usá la tool \"cancelar_pedido\".\nEl sistema verificará automáticamente si el pedido fue hace menos de 15 minutos. Si pasó más tiempo, informá que ya no es posible cancelar.\n\n=== FLUJO DE PEDIDO ===\n1. SALUDO: Amigable, 1 frase.\n2. MENÚ: Si lo piden, ejecutá OBLIGATORIAMENTE la herramienta \"Menu\".\n3. PEDIDO: Interpretá el lenguaje casual y confirmá los ítems con sus precios reales.\n4. DATOS: Pedí nombre. Si es delivery pedí dirección. Si es retiro no la necesitás.\n   IMPORTANTE: Decí \"Tu pedido fue registrado y está en preparación\", NUNCA \"está listo\".\n\n=== REGLAS ===\n- Máximo 2-3 frases. Sin ¡ al inicio.\n- NUNCA inventes precios. Siempre consultá la tool \"Menu\" primero.\n- NUNCA digas \"pedido listo\" — recién lo hicieron.\n\n: Cuando el cliente diga 'dale', 'ok', 'sí', y haya confirmado su pedido (con o sin dirección), ESTÁS OBLIGADO a ejecutar la tool 'Orden'. No mientas diciendo que lo anotaste si no usaste la tool 'Orden'!!\n\n🚨 CRÍTICO PARA USAR HERRAMIENTAS: Para confirmar un pedido, PRIMERO tenés que usar la herramienta 'Orden'. NUNCA le digas al usuario 'Pedido Registrado' ANTES de usar la herramienta, porque eso hace que el sistema aborte la orden y nada se guarde en la base de datos. SIEMPRE invoca la tool primero, esperá su confirmación interna, y recién ahí respóndele al humano."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-11040,880],"id":"40423a53-ca00-4f49-af5c-6455a766d348","name":"AI Agent"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"Sos el corrector de Pizzería Brüder. Tu única tarea es re-escribir el texto recibido para que suene más amigable, directo y 🇦🇷 casual (usando vos y emojis).\n🚨 REGLAS ESTRICTAS DE RESPUESTA:\n1. NO escribas introducciones.\n2. NO digas \"Aquí tienes\", \"Claro\", \"Acá tenés\", ni nada parecido. \n3. Devolvé SÓLO el texto final corregido y NADA MÁS al principio ni al final.\n4. Mantené intactos los precios y direcciones."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-10432,864],"id":"5f803bba-047d-47f9-9a1d-c7a0e9ffe7ce","name":"AI Correctotr","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Memory Manager').first().json.memorySessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-11264,1216],"id":"9076ae3d-22f1-4c08-af0a-08091f882943","name":"memoria"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Memory Manager').first().json.memorySessionId + '_v2' }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-10272,1040],"id":"9b01a493-6ca9-4dd0-8b71-dc56ad23739b","name":"Window Buffer Memory1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-11360,1120],"id":"8e0ac10e-8272-412a-9b5a-479073f4cb66","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"qBrlioifbMQxd9jZ","name":"OpenAi account 2"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-10448,1040],"id":"0c427d4e-3afa-4d48-8fff-2bae86800657","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"qBrlioifbMQxd9jZ","name":"OpenAi account 2"}}},{"parameters":{"method":"POST","url":"https://agentcore-n8n.8zp1cp.easypanel.host/webhook/save-order","sendBody":true,"parametersBody":{"values":[{"name":"pedido"},{"name":"nombre"},{"name":"direccion"},{"name":"total"},{"name":"tipo_entrega"},{"name":"numero"}]},"description":"🚨 OBLIGATORIO: Llamar a esta herramienta al momento en que el usuario confirme su pedido (ej. 'dale', 'buenísimo', 'perfecto'). Toma nota de todos los datos y lánzala. Si no usas esta herramienta, el pedido NUNCA llegará a la cocina. dirección es opcional."},"id":"e31a15ad-e7a6-432e-b0fb-45b4a5451e4d","name":"Orden","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-11152,1232]},{"parameters":{"documentId":{"__rl":true,"value":"1WUQRUqR-u8FLENLJUuxpNepQ3eezlaw6yo8CI0fVYq4","mode":"list","cachedResultName":"menu_restaurante_agente_test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WUQRUqR-u8FLENLJUuxpNepQ3eezlaw6yo8CI0fVYq4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2042150241,"mode":"list","cachedResultName":"Menu","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WUQRUqR-u8FLENLJUuxpNepQ3eezlaw6yo8CI0fVYq4/edit#gid=2042150241"},"options":{"description":"Usá obligatoriamente esta herramienta Google Sheet cuando el cliente pregunte qué hay para pedir, cuáles son las variedades, o cuál es el menú. Solo retorná las opciones y precios exactos recibidos."}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-10928,1248],"id":"f9c7c726-1e19-466a-9092-84f048bff009","name":"Menu","credentials":{"googleSheetsOAuth2Api":{"id":"67EM3O1xJzTRvbMN","name":"Google Sheets account 4"}}},{"parameters":{"jsCode":"const texto = $input.first().json.output || \"\";\n\n// FIX: eliminar signos de apertura en español (¿ y ¡)\nconst limpio = texto.replace(/[¿¡]/g, \"\").trim();\n\n// Si contiene una lista numerada, NO dividir — mandarlo completo\nif (/\\d+[\\.\\-]/.test(limpio)) {\n  return [{ json: { output: { response: { \n    part_1: limpio, part_2: \"\", part_3: \"\", part_4: \"\" \n  } } } }];\n}\n\n// Si es corto, todo en part_1\nif (limpio.length <= 100) {\n  return [{ json: { output: { response: { \n    part_1: limpio, part_2: \"\", part_3: \"\", part_4: \"\" \n  } } } }];\n}\n\n// Dividir solo por punto/pregunta seguido de mayúscula\nconst oraciones = limpio\n  .split(/(?<=[.?])\\s+(?=[A-ZÁÉÍÓÚÑ])/)\n  .map(s => s.trim())\n  .filter(s => s.length > 0);\n\nconst partes = [\"\", \"\", \"\", \"\"];\nfor (let i = 0; i < Math.min(2, oraciones.length); i++) {\n  partes[i] = oraciones[i];\n}\n\nreturn [{ json: { output: { response: { \n  part_1: partes[0], part_2: partes[1], part_3: partes[2], part_4: partes[3] \n} } } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-10096,864],"id":"6f3686b2-0175-4638-83c1-8b31d2475f15","name":"Dividir mensaje"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-9664,608],"id":"3ddcc017-ed72-4a19-a18b-d28e33fa61c3","name":"Wait2","webhookId":"c86d346d-b89e-4cbf-8beb-e2f2982233ce"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-9424,608],"id":"79073eba-63a4-4752-befa-b4fa03183e15","name":"Wait3","webhookId":"a65fea56-aaf5-49ad-88c1-84cbc728141e"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-9184,608],"id":"e92d879f-e244-4ee4-b096-37d0ce23055a","name":"Wait6","webhookId":"6c157f95-e5a8-4f05-9906-944a7853c5a6"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-8944,608],"id":"d67cd36d-8766-4752-a159-8f4d256a5e3b","name":"Wait7","webhookId":"8e4ecf28-7f84-4725-9a88-234408bbf3fb"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if2c","leftValue":"={{ $('Dividir mensaje').first().json.output.response.part_2 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9664,1088],"id":"f8b35160-96a4-45c3-a2d0-81dd36dc0dd4","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if5c","leftValue":"={{ $('Dividir mensaje').first().json.output.response.part_3 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9424,1088],"id":"3d3f8ed6-4ab5-4532-a9fb-23616f9a09c1","name":"If5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if3c","leftValue":"={{ $('Dividir mensaje').first().json.output.response.part_4 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-9184,1088],"id":"06f4c6da-4cfe-42b0-bd72-06adad3c33d0","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if4c","leftValue":"={{ $('Dividir mensaje').first().json.output.response.part_5 }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-8944,1088],"id":"2e231db1-9ca9-41c6-91a6-981c2b5a77f0","name":"If4"},{"parameters":{"content":"# Intervencion IA / HUMANO","height":660,"width":988,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-15136,608],"typeVersion":1,"id":"0546a8d2-c341-4d58-903e-acf9666b6b72","name":"Sticky Note8"},{"parameters":{"content":"# Lectura imagenes y audio","height":824,"width":1144,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-13696,496],"typeVersion":1,"id":"8fddc60d-de77-4322-88a5-ca84c7d972f6","name":"Sticky Note9"},{"parameters":{"content":"# Agente IA RESTAURANTE","height":796,"width":1252,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-11408,608],"typeVersion":1,"id":"9c42bb3f-cb08-48fa-b60e-ee2566214c8f","name":"Sticky Note6"},{"parameters":{"content":"# Enviar varios mensajes","height":824,"width":1292,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-9792,496],"typeVersion":1,"id":"932b4b23-6108-41f3-87a2-c7dadff7335a","name":"Sticky Note7"},{"parameters":{"method":"POST","url":"=https://agentcore-evolution-api.8zp1cp.easypanel.host/message/sendText/agentcore test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=465E65D048F8-42B4-B162-4CF3107E70D8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('WhatsApp Trigger').first().json.body.data.key.remoteJid }}"},{"name":"text","value":"={{ $('Dividir mensaje').first().json.output.response.part_1 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-9664,848],"id":"83b3d3c2-83ce-4586-8187-0e5b05ca0788","name":"WhatsApp Business Cloud"},{"parameters":{"method":"POST","url":"=https://agentcore-evolution-api.8zp1cp.easypanel.host/message/sendText/agentcore test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=465E65D048F8-42B4-B162-4CF3107E70D8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('WhatsApp Trigger').first().json.body.data.key.remoteJid }}"},{"name":"text","value":"={{ $('Dividir mensaje').first().json.output.response.part_2 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-9424,848],"id":"93fee0d9-415a-4614-be2c-74a7f4a59b97","name":"WhatsApp Business Cloud1"},{"parameters":{"method":"POST","url":"=https://agentcore-evolution-api.8zp1cp.easypanel.host/message/sendText/agentcore test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=465E65D048F8-42B4-B162-4CF3107E70D8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('WhatsApp Trigger').first().json.body.data.key.remoteJid }}"},{"name":"text","value":"={{ $('Dividir mensaje').first().json.output.response.part_3 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-9184,848],"id":"1803febe-3613-4d50-9c80-abaaa765b2e7","name":"WhatsApp Business Cloud5"},{"parameters":{"method":"POST","url":"=https://agentcore-evolution-api.8zp1cp.easypanel.host/message/sendText/agentcore test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=465E65D048F8-42B4-B162-4CF3107E70D8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('WhatsApp Trigger').first().json.body.data.key.remoteJid }}"},{"name":"text","value":"={{ $('Dividir mensaje').first().json.output.response.part_4 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8944,848],"id":"313f50f9-3911-4be3-b036-fda59126de82","name":"WhatsApp Business Cloud6"},{"parameters":{"method":"POST","url":"=https://agentcore-evolution-api.8zp1cp.easypanel.host/message/sendText/agentcore test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"=465E65D048F8-42B4-B162-4CF3107E70D8"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('WhatsApp Trigger').first().json.body.data.key.remoteJid }}"},{"name":"text","value":"={{ $('Dividir mensaje').first().json.output.response.part_5 }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-8704,848],"id":"3c6ac61b-5d63-4852-975f-bd7d7aa40f07","name":"WhatsApp Business Cloud7"},{"parameters":{"method":"POST","url":"https://eqnjyygokjinmsfvogxi.supabase.co/functions/v1/log-whatsapp-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxbmp5eWdva2ppbm1zZnZvZ3hpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NzcxMjEsImV4cCI6MjA4OTI1MzEyMX0.BrVsESdtgMBnPjfZfwreg7PWg-HIgiLO5-QoN0qqbkE"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  phone: $('WhatsApp Trigger').first().json.body.data.key.remoteJid,\n  name: $('WhatsApp Trigger').first().json.body.data.pushName || 'Sin nombre',\n  messageText: $('Fields').first().json.Message_text || '',\n  messageType: $('Fields').first().json.Message_type || 'text',\n  sender: 'customer',\n  wa_message_id: $('WhatsApp Trigger').first().json.body.data.key.id\n}) }}","options":{"timeout":8000}},"id":"d8a4f74f-3b7c-4f87-a29b-c44ac178b342","name":"Log Incoming to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-12384,896],"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"https://eqnjyygokjinmsfvogxi.supabase.co/functions/v1/log-whatsapp-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxbmp5eWdva2ppbm1zZnZvZ3hpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NzcxMjEsImV4cCI6MjA4OTI1MzEyMX0.BrVsESdtgMBnPjfZfwreg7PWg-HIgiLO5-QoN0qqbkE"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  phone: $('WhatsApp Trigger').first().json.body.data.key.remoteJid,\n  name: $('WhatsApp Trigger').first().json.body.data.pushName || 'Sin nombre',\n  messageText: [$('Dividir mensaje').first().json.output.response.part_1, $('Dividir mensaje').first().json.output.response.part_2, $('Dividir mensaje').first().json.output.response.part_3, $('Dividir mensaje').first().json.output.response.part_4].filter(p => p && p.trim()).join('\\n'),\n  messageType: 'text',\n  sender: 'ai',\n  wa_message_id: 'ai_' + $('WhatsApp Trigger').first().json.body.data.key.id\n}) }}","options":{"timeout":8000}},"id":"03eb3046-50d2-4f53-ba94-2ac1e617a1e8","name":"Log AI Response to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-9920,864],"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"check-ai-cond","leftValue":"={{ $('Log Incoming to Supabase').first().json.ai_active }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-11904,896],"id":"2c881a89-920d-452c-9d3b-61d8a4ebd339","name":"Check AI Active"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-12032,896],"id":"debounce-wait-node","name":"Debounce Wait","webhookId":"debounce-wait-webhook"},{"parameters":{"url":"=https://eqnjyygokjinmsfvogxi.supabase.co/rest/v1/mensajes?conversacion_id=eq.{{ $('Log Incoming to Supabase').first().json.conversacion_id }}&order=created_at.desc&limit=5","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxbmp5eWdva2ppbm1zZnZvZ3hpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NzcxMjEsImV4cCI6MjA4OTI1MzEyMX0.BrVsESdtgMBnPjfZfwreg7PWg-HIgiLO5-QoN0qqbkE"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"http-get-latest-msg","name":"Get Latest Message","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-11776,896],"alwaysOutputData":true},{"parameters":{"jsCode":"\nconst messages = $input.all();\nlet texts = [];\n\n// The DB returns latest messages first. We want to skip anything PREVIOUS to a /clear\nfor (const m of messages) {\n    const content = (m.json.content || m.json.message || '').trim();\n    if (!content) continue;\n    \n    // If we hit a /clear command in history, stop accumulating!\n    if (content.toLowerCase() === '/clear') {\n        break;\n    }\n    texts.push(content);\n}\n\n// Reverse to chronological order (oldest un-cleared to newest)\nconst combinedText = texts.reverse().join('\\n\\n');\n\nconst latestMsg = messages.length > 0 ? messages[0].json : {};\n\nreturn [{\n  json: {\n    ...latestMsg,\n    isLastMessage: true,\n    combinedText: combinedText || latestMsg.content || ''\n  }\n}];\n"},"id":"code-check-is-last-msg","name":"Check Is Last Message","type":"n8n-nodes-base.code","typeVersion":2,"position":[-11648,896]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"if-last-v4","leftValue":"={{ $json.isLastMessage }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"if-is-last-msg-v4","name":"Is Last Message","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-11520,896]},{"parameters":{"jsCode":"\nconst staticData = $getWorkflowStaticData('global');\nconst triggerPhone = $('WhatsApp Trigger').first().json.body?.data?.key?.remoteJid;\nconst today = new Date().toISOString().split('T')[0]; // YYYY-MM-DD\n\nlet text = \"\";\nconst msg = $('WhatsApp Trigger').first().json.body?.data?.message;\nif (msg) { text = msg.conversation || msg.extendedTextMessage?.text || \"\"; }\n\nif (typeof staticData[triggerPhone] !== 'object') {\n    const oldV = staticData[triggerPhone] || 1;\n    staticData[triggerPhone] = { v: oldV, resetAt: \"1970-01-01T00:00:00Z\" };\n}\n\nlet isClearCommand = false;\nif (text.trim().toLowerCase() === '/clear') {\n    staticData[triggerPhone].v += 1;\n    staticData[triggerPhone].resetAt = new Date().toISOString();\n    isClearCommand = true;\n}\n\nconst finalResetAt = staticData[triggerPhone].resetAt || \"1970-01-01T00:00:00Z\";\n\nreturn [{\n    json: {\n        memorySessionId: triggerPhone + \"_\" + today + \"_v\" + staticData[triggerPhone].v,\n        resetAt: finalResetAt,\n        isClearCommand: isClearCommand,\n        text: text\n    }\n}];"},"id":"memory-manager-node","name":"Memory Manager","type":"n8n-nodes-base.code","typeVersion":2,"position":[-12272,672]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"is-clear-cond","leftValue":"={{ $json.isClearCommand }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"if-clear-cmd-node","name":"If Clear Command","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-12144,672]},{"parameters":{"method":"POST","url":"https://eqnjyygokjinmsfvogxi.supabase.co/functions/v1/send-whatsapp-message","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxbmp5eWdva2ppbm1zZnZvZ3hpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NzcxMjEsImV4cCI6MjA4OTI1MzEyMX0.BrVsESdtgMBnPjfZfwreg7PWg-HIgiLO5-QoN0qqbkE"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ \n  conversacion_id: $('Log Incoming to Supabase').first().json.conversacion_id, \n  content: \"✅ *Memoria borrada.* El agente olvidó toda la conversación anterior. Puedes comenzar un nuevo pedido de prueba.\"\n}) }}","options":{}},"id":"waba-clear-confirm","name":"WABA Confirm Clear","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-12000,672]},{"parameters":{"jsCode":"\nconst base64 = $input.item.json.base64;\nif (!base64) throw new Error(\"No base64 data received from server\");\n\n// OpenAI requires a valid file extension. WhatsApp uses .ogg natively.\nreturn {\n  json: {},\n  binary: {\n    data: {\n      data: base64,\n      mimeType: 'audio/ogg',\n      fileName: 'voicenote.ogg'\n    }\n  }\n};\n"},"id":"convert-audio-node","name":"Convert Audio","type":"n8n-nodes-base.code","typeVersion":2,"position":[-13184,704]},{"parameters":{"jsCode":"\nconst base64 = $input.item.json.base64;\nif (!base64) throw new Error(\"No base64 data received from server\");\n\nreturn {\n  json: {},\n  binary: {\n    data: {\n      data: base64,\n      mimeType: 'image/jpeg',\n      fileName: 'image.jpg'\n    }\n  }\n};\n"},"id":"convert-image-node","name":"Convert Image","type":"n8n-nodes-base.code","typeVersion":2,"position":[-13184,896]},{"parameters":{"method":"POST","url":"https://agentcore-evolution-api.8zp1cp.easypanel.host/message/sendMedia/agentcore%20test","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: $('WhatsApp Trigger').first().json.body.data.key.remoteJid, media: 'https://img.freepik.com/foto-gratis/diseno-menu-restaurante-pizzeria_23-2149103445.jpg', mediatype: 'image', caption: 'Acá tenés nuestro menú! 🍕' }) }}"},"id":"tool-menu-img","name":"ver_menu_imagen","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-11040,1248]},{"parameters":{"documentId":{"__rl":true,"value":"1WUQRUqR-u8FLENLJUuxpNepQ3eezlaw6yo8CI0fVYq4","mode":"list","cachedResultName":"menu_restaurante_agente_test"},"sheetName":{"__rl":true,"value":349340155,"mode":"list","cachedResultName":"Tiempo de espera","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WUQRUqR-u8FLENLJUuxpNepQ3eezlaw6yo8CI0fVYq4/edit#gid=349340155"},"options":{"description":"Consultá esta herramienta Google Sheet cuando el usuario pregunte cuánto tiempo tarda un pedido o cuál es la demora."}},"id":"tool-tiempo-espera","name":"tiempo_espera","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-10832,1232],"credentials":{"googleSheetsOAuth2Api":{"id":"67EM3O1xJzTRvbMN","name":"Google Sheets account 4"}}},{"parameters":{"documentId":{"__rl":true,"value":"1WUQRUqR-u8FLENLJUuxpNepQ3eezlaw6yo8CI0fVYq4","mode":"list","cachedResultName":"menu_restaurante_agente_test"},"sheetName":{"__rl":true,"value":1276502647,"mode":"list","cachedResultName":"FAQ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WUQRUqR-u8FLENLJUuxpNepQ3eezlaw6yo8CI0fVYq4/edit#gid=1276502647"},"options":{"description":"Consultá esta herramienta para horarios, medios de pago, o dirección."}},"id":"tool-faq","name":"preguntas_frecuentes","type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[-10736,1184],"credentials":{"googleSheetsOAuth2Api":{"id":"67EM3O1xJzTRvbMN","name":"Google Sheets account 4"}}},{"parameters":{"method":"POST","url":"https://agentcore-n8n.8zp1cp.easypanel.host/webhook/cancel-order","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ numero: $('WhatsApp Trigger').first().json.body.data.key.remoteJid }) }}","description":"Ejecutá esta herramienta si el cliente solicita cancelar un pedido reciente."},"id":"tool-cancelar","name":"cancelar_pedido","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-10640,1104]}],"connections":{"Google Sheets":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}],[],[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get Audio","type":"main","index":0}],[{"node":"Get Image","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Get Audio":{"main":[[{"node":"Convert Audio","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Fields","type":"main","index":0}]]},"Get Image":{"main":[[{"node":"Convert Image","type":"main","index":0}]]},"Download Imagen":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Fields","type":"main","index":0}]]},"Fields":{"main":[[{"node":"Log Incoming to Supabase","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"AI Correctotr","type":"main","index":0}]]},"AI Correctotr":{"main":[[{"node":"Dividir mensaje","type":"main","index":0}],[{"node":"Dividir mensaje","type":"main","index":0}]]},"memoria":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"AI Correctotr","type":"ai_memory","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Correctotr","type":"ai_languageModel","index":0}]]},"Orden":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Menu":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Dividir mensaje":{"main":[[{"node":"Log AI Response to Supabase","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"If2","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"WhatsApp Business Cloud5","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"WhatsApp Business Cloud6","type":"main","index":0}]]},"Wait7":{"main":[[{"node":"WhatsApp Business Cloud7","type":"main","index":0}]]},"If2":{"main":[[{"node":"WhatsApp Business Cloud1","type":"main","index":0}]]},"If5":{"main":[[{"node":"Wait3","type":"main","index":0}],[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Wait6","type":"main","index":0}],[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Wait7","type":"main","index":0}]]},"WhatsApp Business Cloud":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"WhatsApp Business Cloud1":{"main":[[{"node":"If5","type":"main","index":0}]]},"WhatsApp Business Cloud5":{"main":[[{"node":"If3","type":"main","index":0}]]},"WhatsApp Business Cloud6":{"main":[[{"node":"If4","type":"main","index":0}]]},"Log Incoming to Supabase":{"main":[[{"node":"Memory Manager","type":"main","index":0}]]},"Log AI Response to Supabase":{"main":[[{"node":"WhatsApp Business Cloud","type":"main","index":0}]]},"Check AI Active":{"main":[[{"node":"Get Latest Message","type":"main","index":0}],[]]},"Debounce Wait":{"main":[[{"node":"Check AI Active","type":"main","index":0}]]},"Is Last Message":{"main":[[{"node":"AI Agent","type":"main","index":0}],[]]},"Get Latest Message":{"main":[[{"node":"Check Is Last Message","type":"main","index":0}]]},"Check Is Last Message":{"main":[[{"node":"Is Last Message","type":"main","index":0}]]},"WhatsApp Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Memory Manager":{"main":[[{"node":"If Clear Command","type":"main","index":0}]]},"If Clear Command":{"main":[[{"node":"WABA Confirm Clear","type":"main","index":0}],[{"node":"Debounce Wait","type":"main","index":0}]]},"Convert Audio":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Convert Image":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"ver_menu_imagen":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"tiempo_espera":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"preguntas_frecuentes":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"cancelar_pedido":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"authors":"matias rodriguez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-22T19:53:21.570Z","id":271,"workflowId":"Sbf4ewHwOCdsruMv","versionId":"544f405d-0bce-4bd1-a857-7c2468246310","event":"activated","userId":"6704710c-953e-4637-8393-b7e996be2b7a"},{"createdAt":"2026-03-22T19:53:21.546Z","id":270,"workflowId":"Sbf4ewHwOCdsruMv","versionId":"544f405d-0bce-4bd1-a857-7c2468246310","event":"deactivated","userId":"6704710c-953e-4637-8393-b7e996be2b7a"}]}}